@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url(/assets/css/root.css);


.font-family {
    font-family: "Sarabun", sans-serif;
}

@font-face {
    font-family: 'Franklin Gothic Heavy';
    src: url(/assets/font/libre-franklin.zip) format('woff2'),
}

.ff-1 {
    font-family: 'Franklin Gothic Heavy';
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.lh-21 {
    line-height: 21px;
}

.lh-73 {
    line-height: 73px;
}

.lh-25 {
    line-height: 25px;
}
.lh-18{
    line-height: 18px;
}
.lh-49 {
    line-height: 49px;
}
.lh-27{
    line-height: 27px;
}

.max-w-1280 {
    max-width: 1280px;
}

.gap-32 {
    gap: 32px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}



.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.mt-164 {
    margin-top: 164px;
}

.mb-144 {
    margin-bottom: 144px;
}

.max-w-502 {
    max-width: 502px;
}

.mt-43 {
    margin-top: 43px;
}

.btn {
    padding: 8px 24px;
    border-radius: 9px;
}

.light-img {
    left: 0;
    bottom: 0;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.max-w-888 {
    max-width: 888px;
}

.max-w-1140 {
    max-width: 1140px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.letter-spacing {
    letter-spacing: 0.11em;
}

.rectangle {
    right: 0;
    bottom: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.ml-40 {
    margin-left: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.max-auto {
    margin-left: auto;
    margin-right: auto;
}

/* < !-- ---------section-1--------- --> */


.my-file .slick-track {
    display: flex;
}

/* .my-file{
            width: 100%;
            height: 100px;
            top: 50%;
            transform: translateY(-50%);
            background: lightblue;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
 
.right-to-left {
    left: 100%;
    animation-name: slideRightToLeft;
}

.left-to-right {
    right: 100%;
    animation-name: slideLeftToRight;}

@keyframes slideRightToLeft {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

@keyframes slideLeftToRight {
    from {
        right: 100%;
    }

    to {
        right: 0;
    }
} */

/* --------------section-2---------- */

.text-center {
    text-align: center;
}


.mt-48 {
    margin-top: 48px;
}

/* -------------section-3----------- */
.flex-column {
    flex-direction: column;
}

.mt-61 {
    margin-top: 61px;
}

.mt-36 {
    margin-top: 36px;
}

.card {
    width: 202px;
    border: none;
    background: none;
}

.mb-64{
    margin-bottom: 64px;
}
/* --------------footer-------- */
.bootom-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.gap-24{
    gap: 24px;
}

  
@media(max-width:992px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        backdrop-filter: blur(40px);
        background: burlywood;
    }

    .show-navbar {
        right: 0 !important;
    }
}
@media(max-width:767.98px) {
.footer-light{
    width: 50%;
}
}
@media(max-width:675.98px) {

}
@media(max-width:375.98px) {

}